<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Datarov</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="grid-container">
      <!-- Logo Section -->
      <div class="logo">
        <a href="/">
          <img src="static/assets/datarov_black.png" width="50%" alt="" />
        </a>

        <div>
          <a href="https://github.com/cobanov/datarov-app">
          <img src="static/assets/github_logo.png" width="100px" alt="" />
        </a>
        </div>
      </div>

      <!-- Top Left Section -->
      <div class="top-left"></div>

      <!-- Top Right Section -->
      <div class="top-right"></div>

      <!-- Top Right Section -->
      <div class="ads"></div>

      <!-- Ads Section -->
      <div class="ads"></div>

      <!-- Main Section -->
      <div class="main"></div>
    </div>
  </body>
</html>
